.content-main-parent1
  .content-main-parent1-child
    = image_tag '/assets/img2.jpg'
    .content-main-parent1-child-gap
      .content-main-parent1-child-gap-title タイトルが入ります
      .content-main-parent1-child-gap-text 親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。親譲りの無鉄砲で小供の時から損ばかりしている。
      .content-main-parent1-child-gap-good
        %i.fas.fa-heart.content-main-parent1-child-gap-good-icon
        .content-main-parent1-child-gap-good-length 609
  .content-main-parent1-child
    = image_tag '/assets/img2.jpg'
    .content-main-parent1-child-gap
      .content-main-parent1-child-gap-title タイトルが入ります
      .content-main-parent1-child-gap-text 親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。親譲りの無鉄砲で小供の時から損ばかりしている。
      .content-main-parent1-child-gap-good
        %i.fas.fa-heart.content-main-parent1-child-gap-good-icon
        .content-main-parent1-child-gap-good-length 609
  .content-main-parent1-child#child3
    = image_tag '/assets/img2.jpg'
    .content-main-parent1-child-gap
      .content-main-parent1-child-gap-title タイトルが入ります
      .content-main-parent1-child-gap-text 親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。親譲りの無鉄砲で小供の時から損ばかりしている。
      .content-main-parent1-child-gap-good
        %i.fas.fa-heart.content-main-parent1-child-gap-good-icon
        .content-main-parent1-child-gap-good-length 609
