@media screen and (min-width: 1001px) {
  .content-main-parent1{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    &-child{
      width: 330px;
      border: 1px solid gray;
      &-gap{
        padding: 15px;
        &-title{
          font-size: 24px;
          font-weight: bold;
          color: #333333;
        }
        &-text{
          margin-top: 10px;
          font-size: 12px;
          line-height: 150%;
          color: rgb(77, 70, 70);
        }
        &-good{
          display: flex;
          margin-top: 10px;
          &-icon{
            font-size: 12px;
            color: rgb(77, 70, 70);
          }
          &-length{
            margin-left: 5px;
            font-size: 12px;
            color: rgb(77, 70, 70);
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .content-main-parent1{
    margin-top: 10px;
    display: flex;
    &-child{
      margin-right: 10px;
      width: 330px;
      border: 1px solid gray;
      &-gap{
        padding: 15px;
        &-title{
          font-size: 24px;
          font-weight: bold;
          color: #333333;
        }
        &-text{
          display: none;
        }
        &-good{
          display: flex;
          margin-top: 10px;
          &-icon{
            font-size: 12px;
            color: rgb(77, 70, 70);
          }
          &-length{
            margin-left: 5px;
            font-size: 12px;
            color: rgb(77, 70, 70);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .content-main-parent1{
    margin-top: 10px;
    display: flex;
    &-child{
      margin-right: 10px;
      width: 330px;
      border: 1px solid gray;
      &-gap{
        padding: 15px;
        &-title{
          font-size: 24px;
          font-weight: bold;
          color: #333333;
        }
        &-text{
          display: none;
        }
        &-good{
          display: flex;
          margin-top: 10px;
          &-icon{
            font-size: 12px;
            color: rgb(77, 70, 70);
          }
          &-length{
            margin-left: 5px;
            font-size: 12px;
            color: rgb(77, 70, 70);
          }
        }
      }
    }
  }
#child3{
  display: none;
}
}